@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../images/background-header-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 20px;
}

.headline h3 {
  font-size: 20px;
  color: #ec5242;
  font-weight: 500;
  margin: 0;
}

.headline h1 {
  font-size: 34px;
  color: #ec5242;
  font-weight: 700;
  margin: 0;
}

.headline p {
  font-size: 14px;
  background: #f8f9f9;
  border: white 5px solid;
  padding: 15px;
  text-align: justify;
  color: #272a31;
}

.headline h2 {
  font-size: 24px;
  color: #272a31;
  font-weight: 900;
  margin: 0;
}

.headline h4 {
  font-size: 16px;
  color: #272a31;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 20px;
}

.main-program {
  background-image: url("../images/background-main-program-mobile.png");
  background-repeat: repeat;
  background-color: #272a31;
  background-size: 7%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-program h2 {
  margin-top: 40px;
  color: #fff;
  text-align: center;
}

.program-list {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  margin: 5px 10px;
  padding: 16px 0;
  align-items: center;
  justify-content: space-between;
}

.program-list .program-title {
  color: #ec5242;
  font-weight: 900;
}

.program-list .program-description {
  color: #d3d3d3;
  font-size: 12px;
  width: 50%;
  margin-right: 10px;
}

.main-program .main-btn {
  padding: 25px;
  margin: 40px;
  background: #ec5242;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 0;
}

.featured-speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-speakers h2 {
  color: #272a31;
  margin-top: 40px;
  text-align: center;
}

.card-speakers .speaker-card {
  display: flex;
  align-items: center;
  margin: 20px;
}

.card-speakers .speaker-card-img {
  box-sizing: border-box;
  object-fit: cover;
}

.card-speakers .speaker-card-content {
  width: 60%;
  margin-left: 1.3em;
}

.speaker-card-image {
  width: 100px;
  height: 100px;
}

.speaker-card-name p {
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.speaker-card-position p {
  color: #ec5242;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.speaker-card-description {
  font-size: 0.7em;
}

button {
  background: none;
  border: none;
}

.speakers-btn {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: 2em;
  border: 1px #d3d3d3 solid;
  color: #272a31;
  font-weight: 400;
  font-size: 0.8em;
  background-color: #fff;
  width: 90%;
  margin-bottom: 40px;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-close-nav {
  background: none;
}

.btn-close-nav > img {
  width: 3em;
}

.menu-btn > img {
  width: 2.5em;
}

.header-nav-mobile {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: gray;
  color: #3a4a42;
  opacity: 0.95;
  text-align: center;
}

.menu-btn,
.header-nav-mobile > button {
  background: none;
}

.header-nav-mobile > button {
  margin: 0.5em 0.5em;
  align-self: flex-end;
  cursor: pointer;
}

.header-nav-mobile > img {
  width: 2em;
}

.header-nav-mobile > ul {
  padding-inline-start: 0;
}

.header-nav-mobile > ul > li {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  list-style: none;
  text-align: center;
}

.header-nav-mobile > ul > li > a {
  font-size: 1em;
  font-weight: 600;
  color: #99362b;
  cursor: pointer;
  text-decoration: none;
}

.menu-btn.hidden {
  display: none;
}

.header-nav-mobile.hidden {
  display: none;
}

#guide-bar-mp {
  width: 2.3em;
  align-self: center;
  margin-bottom: 25px;
}

#guide-bar-fs {
  width: 2.3em;
  align-self: center;
  margin-bottom: 25px;
}

#hamburger {
  margin: 15px 20px;
}

.hidden {
  display: none;
}

.header-nav {
  display: none;
}

.main-link-btn {
  display: none;
}

footer {
  display: none;
}

@media (min-width: 768px) {
  .header-nav-phone {
    display: none;
  }

  h1 {
    font-size: 60px;
    max-width: 670px;
  }

  h3 {
    font-size: 40px;
  }

  .headline {
    margin: 100px;
  }

  .headline p {
    max-width: 550px;
  }

  .headline h4 {
    margin-bottom: 6em;
  }

  .header-nav {
    display: block;
    box-shadow: var(--shadow);
  }

  .header-nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .header-nav-desktop > li > a {
    font-weight: normal;
    padding: 0.5em;
    margin: 0;
    color: gray;
  }

  .header-nav-desktop > li > a:hover {
    color: var(--accent-color);
    border: 4px solid var(--accent-color);
    cursor: pointer;
  }

  .container-top-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 3em;
    background: #272a31;
    color: white;
  }

  .header-top-nav {
    display: flex;
    justify-content: flex-end;
    width: 900px;
  }

  .header-top-nav-desktop {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .header-top-nav .header-top-nav-desktop > li > a {
    font-weight: normal;
    letter-spacing: normal;
    color: white;
  }

  .hidden {
    display: flex;
  }

  nav {
    background: white;
  }

  .container-nav {
    max-width: 900px;
    padding: 0.7em 1.2em 0.7em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-nav {
    overflow: hidden;
    box-sizing: border-box;
    width: 15%;
  }

  .logo-nav img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .main-program {
    padding-left: 100px;
    padding-right: 100px;
  }

  .program-list-container {
    display: flex;
  }

  .program-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 0.1em;
    padding-left: 0.6em;
    padding-right: 0.6em;
  }

  .program-icon {
    font-size: 1.8em;
  }

  .program-title {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    margin: 0.1em;
    font-size: 0.8em;
  }

  .program-list .program-description {
    width: 80%;
    font-size: 0.7em;
    text-align: center;
    font-weight: bold;
    margin: 0.2em;
  }

  .main-btn {
    display: none;
  }

  .main-link-btn {
    display: block;
    color: white;
    font-weight: normal;
    font-size: 0.6em;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 5em;
  }

  .speaker-name {
    margin-bottom: 2em;
  }

  .card-speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3em;
    margin-left: 130px;
    margin-right: 130px;
  }

  .speaker-card {
    width: 40%;
  }

  .speaker-card-img {
    width: 40%;
  }

  .speaker-card-img img {
    width: 80%;
    height: 80%;
  }

  .speaker-card-content {
    width: 60%;
    margin-left: 1.3em;
  }

  .speaker-card-name p {
    font-size: 1em;
  }

  .speaker-card-position p {
    font-size: 0.6em;
    color: #ec5242;
    font-weight: 900;
  }

  .speaker-card-description {
    font-size: 0.6em;
  }

  .speakers-btn {
    display: none;
  }

  footer {
    display: inline;
  }

  .partners {
    background-color: #272a31;
    text-align: center;
  }

  .partners h2 {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
  }

  .partners-logo {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #mozilla {
    width: 80px;
    position: relative;
    top: -5px;
    justify-self: center;
  }

  #google {
    width: 80px;
    position: relative;
    top: -5px;
    justify-self: center;
  }

  #naver {
    width: 80px;
    position: relative;
    justify-self: center;
  }

  #kakao {
    width: 70px;
    position: relative;
    right: -60px;
    top: -15px;
    justify-self: center;
  }

  #airbnb {
    width: 90px;
    position: relative;
    right: -65px;
    top: -35px;
    justify-self: center;
  }

  .right-reserved {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    margin-left: 100px;
  }

  .right-reserved p {
    font-size: 12px;
    top: -13px;
    position: relative;
    line-height: 20px;
  }

  #right-reserved {
    width: 200px;
  }
}
