@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../images/background-header-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.headline {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 20px;
}

.headline h3 {
  font-size: 20px;
  color: #ec5242;
  font-weight: 500;
  margin: 0;
}

.headline h1 {
  font-size: 34px;
  color: #ec5242;
  font-weight: 700;
  margin: 0;
}

.headline p {
  font-size: 14px;
  background: #f8f9f9;
  border: white 5px solid;
  padding: 15px;
  text-align: justify;
  color: #272a31;
}

.headline h2 {
  font-size: 24px;
  color: #272a31;
  font-weight: 900;
  margin: 0;
}

.headline h4 {
  font-size: 16px;
  color: #272a31;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 20px;
}

.main-program {
  background-image: url("../images/background-main-program-mobile.png");
  background-repeat: repeat;
  background-color: #272a31;
  background-size: 7%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-program h2 {
  margin-top: 40px;
  color: #fff;
  text-align: center;
}

.program-list {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  margin: 5px 10px;
  padding: 16px 0;
  align-items: center;
  justify-content: space-between;
}

.program-list .program-title {
  color: #ec5242;
  font-weight: 900;
}

.program-list .program-description {
  color: #d3d3d3;
  font-size: 12px;
  width: 50%;
  margin-right: 10px;
}

.main-program .main-btn {
  padding: 25px;
  margin: 40px;
  background: #ec5242;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 0;
}

.featured-speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-speakers h2 {
  color: #272a31;
  margin-top: 40px;
  text-align: center;
}

.card-speakers .speaker-card {
  display: flex;
  align-items: center;
  margin: 20px;
}

.card-speakers .speaker-card-img {
  box-sizing: border-box;
  object-fit: cover;
}

.card-speakers .speaker-card-content {
  width: 60%;
  margin-left: 1.3em;
}

.speaker-card-image {
  width: 100px;
  height: 100px;
}

.speaker-card-name p {
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.speaker-card-position p {
  color: #ec5242;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.speaker-card-description {
  font-size: 0.7em;
}

button {
  background: none;
  border: none;
}

.speakers-btn {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-top: 2em;
  border: 1px #d3d3d3 solid;
  color: #272a31;
  font-weight: 400;
  font-size: 0.8em;
  background-color: #fff;
  width: 90%;
  margin-bottom: 40px;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-close-nav {
  background: none;
}

.btn-close-nav > img {
  width: 3em;
}

.menu-btn > img {
  width: 2.5em;
}

.header-nav-mobile {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: gray;
  color: #3a4a42;
  opacity: 0.95;
  text-align: center;
}

.menu-btn,
.header-nav-mobile > button {
  background: none;
}

.header-nav-mobile > button {
  margin: 0.5em 0.5em;
  align-self: flex-end;
  cursor: pointer;
}

.header-nav-mobile > img {
  width: 2em;
}

.header-nav-mobile > ul {
  padding-inline-start: 0;
}

.header-nav-mobile > ul > li {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  list-style: none;
  text-align: center;
}

.header-nav-mobile > ul > li > a {
  font-size: 1em;
  font-weight: 600;
  color: #99362b;
  cursor: pointer;
  text-decoration: none;
}

.menu-btn.hidden {
  display: none;
}

.header-nav-mobile.hidden {
  display: none;
}

#guide-bar-mp {
  width: 2.3em;
  align-self: center;
  margin-bottom: 25px;
}

#guide-bar-fs {
  width: 2.3em;
  align-self: center;
  margin-bottom: 25px;
}

#hamburger {
  margin: 15px 20px;
}

.hidden {
  display: none;
}
